// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

@import "~sweetalert2/dist/sweetalert2.min.css";
// Bootstrap
@import '~bootstrap/scss/bootstrap';

.user-cart{
    .card{
        height: 400px;
    }
    .qty{
        width:70px;
        float:left;
    }
}

.order-product{
    .item{
        float: left;
        border: 1px solid #ccc;
        border-radius: 3px;
        background: #fff;
        margin: 0 2px 4px;
    }
    img{
        max-width: 100%; 
        width:100px; 
        height: 100px;
    }
    h5{
        text-align:center;
        font-size:13px;
    }
    
}